<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>Fundamentos de AngularJS</title>
        <script src="node_modules/angular/angular.js"></script>
        <script>
            angular.module("app", []); 
            angular.module("app").controller('MeuController', [
                '$scope',
                function($scope) {
                    $scope.value = 10
                    $scope.inc = function() {
                        $scope.value++
                    }
                }
            ])
        </script>
    </head>
    <body>
        <div ng-controller="MeuController">
            <h1>{{value}}</h1>
            <input type="number" ng-model="value">
            <button ng-click="inc()">INC</button>
        </div>
    </body>
</html>