<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>Fundamentos de AngularJS</title>
        <script src="node_modules/angular/angular.js"></script>
        <script>
            angular.module("app", []); 
            angular.module("app").controller('MeuController', [
                function() {
                    const self = this
                    self.value = 10
                    self.inc = function() {
                        self.value++
                    }
                }
            ])
        </script>
    </head>
    <body>
        <div ng-controller="MeuController as ctrl">
            <h1>{{ctrl.value}}</h1>
            <input type="number" ng-model="ctrl.value">
            <button ng-click="ctrl.inc()">INC</button>
        </div>
    </body>
</html>